@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

body {
  font-family: 'Roboto Slab', serif;
  background-color: beige;
}

#searchbar {
  border-radius: 25%;
}

#pageContent {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

#picture-pokemon {
  max-width: 200px;

}

#info-pokemon {
  font-size: large;
}

#index-pokemon {
  color: grey;

}

.card { 
  text-align: center;
  background-color: lightgrey;
  width: 300px;
  border-radius: 10px;
  margin: 20px;
}

.card:hover {
  background-color: darkgrey;
}

#info-pokemon-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: large;
}