@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

header {
  margin:20px;
  justify-content: center;
  display: flex;
}

body {
  font-family: 'Roboto Slab', serif;
  background-color: beige;
}

#logo {
  width:200px
  
}

input {
  outline: none;
}
#searchbar {
  margin:20px;
  border-radius: 25%;
  justify-content: center;
  display: flex;
  outline: none;
}

#input-search{
  border-radius: 25px;
  height: 25px;
  width: 200px;
  padding: 3px;
}

#pageContent {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

#info-id {
  padding: 20px;
  justify-items: center;
  display: grid;
}

#picture-pokemon {
  max-width: 200px;

}

#info-pokemon {
  font-size: large;
}

#index-pokemon {
  color: grey;

}

.card { 
  text-align: center;
  background-color: lightgrey;
  width: 300px;
  border-radius: 10px;
  margin: 20px;
}

.card:hover {
  background-color: darkgrey;
}

.card-detail {
  display: flex;
  flex-direction: column;
  
}

.card-detail > div {
  margin: 50px
}

.container-detail {
    background-color: cadetblue;
    padding: 20px;
    border-radius: 10px;
    text-transform: capitalize;
}

#picture-id {
  display: flex;
}
#id-detail {
  background-color: lightgrey;
    border-radius: 10px;
    display: flex;
}

#picture-pokemon-detail {
  width: 200px;
    border-radius: 10px;
}

#info-pokemon-detail > div {
  margin:10px
}

#name-index {
  display: flex;
  font-size: xx-large;
}

#name-index > p {
  margin: 5px;

}

#index-pokemon-detail {
  color: grey
}

#height-weight {
  display: flex;

}

#height-weight > p {
  margin: 5px
}

.types {
  display: flex;

}

.typeButton {
  border-radius: 5px;
  width: 100px;
  color: black;
  font-size: medium;
  margin: 10px;
  text-transform: capitalize;
}
.types > p {
  margin: 3px;
}

.stats {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5px;
  background-color: lightgrey;
  border-radius: 10px;
  max-height: 150px;
  max-height: 150px;
    margin-left: 10px;
    margin-top: 30PX;
}


.stats > p {
  text-align: center;
}



